<mat-card>
  <a *ngIf="id" (click)="sendMeContact()">Go to Contact</a>
  <mat-card-title class="text-center">Profile</mat-card-title>
  <mat-divider class="light"></mat-divider>
  <div class="about-grid">
    <div class="linkedin">
      <app-linkedin-badge></app-linkedin-badge>
    </div>
    <div class="profile">
      <mat-card class="mat-card-flat fw5">
        <mat-card-content>
          <p class="text-faded">Front-End Web Developer with more than 14 years of progressive experience and measurable
            accomplishments in providing technical direction, team and project leadership, and client-facing support for
            high-profile global clients. I am a technology enthusiast, a seasoned frontend web developer specializing in
            JavaScript / ECMAScript and a graduate of Computer Science who loves to explore and learn newer technologies,
            language and frameworks.</p>

          <p class="text-faded">Proficient in maintaining W3C web standards, setting standards for best practices, and ensuring
            UI standards for enterprise/consumer applications are met. Recognized for the ability to provide hands-on support
            while managing, developing, and engaging global teams to deliver excellence in client services. Strong
            cross-functional collaborative skills facilitate the achievement of project deliverables, on time and in budget.</p>

          <p class="text-faded">Extensive experience in all phases of Software Development Life Cycle (SDLC) and have worked
            using Waterfall and Agile / Scrum methodologies. I have worked on websites for local business, special events as well
            as high traffic public facing e-commerce website with over 1 million/day visits.</p>

          <p class="text-faded">Recent assignment includes extensive development exposure in web applications using Angular JS,
            React JS, HTML, CSS, JavaScript, ES6, Jasmine, SASS, lodash, REST Webservices, JSON, Ruby on Rails and Git.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="keyprof">
      <mat-card class="mat-card-flat fw5">
        <mat-card-title>
          Key Proficiencies:
        </mat-card-title>
        <mat-card-content>
          <p class="text-faded">Front End Web Development | Mobile Web Development Full Stack JavaScript Frameworks | Software Development Lifecycle (SDLC) Project Management | Resource Management | Requirements Gathering Cost Estimations | Testing &amp; Debugging | User Interfaces | Documentation Quality Assurance | Content Management Systems | Deployment &amp; Launches Post-Launch Support | Performance Tuning | Cross-Browser Optimization Social Network &amp; Market Research Optimization | Payment Gateway Integration E-Commerce Support | Training | Global Team Leadership</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<!--   <mat-grid-list cols="3" rowHeight="120px">
    <mat-grid-tile colspan="1" rowspan="6">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="4">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
    </mat-grid-tile>
  </mat-grid-list>
 -->
</mat-card>
