<mat-card>
  <mat-card-title class="text-center">Technical Skills</mat-card-title>
  <hr class="light">
  <mat-card class="m20">
    <mat-card-header>
      <mat-card-title>Front-end</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ frontend.join(", ") }}
      <mat-progress-bar *ngIf="frontend.length === 0" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card class="m20">
    <mat-card-header>
      <mat-card-title>Frameworks &amp; CMS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ framework.join(", ") }}
      <mat-progress-bar *ngIf="framework.length === 0" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card class="m20">
    <mat-card-header>
      <mat-card-title>Databases</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ databases.join(", ") }}
      <mat-progress-bar *ngIf="databases.length === 0" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card class="m20">
    <mat-card-header>
      <mat-card-title>Other Skills</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ other.join(", ") }}
      <mat-progress-bar *ngIf="other.length === 0" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</mat-card>
