<section id="portfolio">
  <mat-card>
    <mat-card-title class="text-center">Client Portfolio</mat-card-title>
    <mat-card-subtitle class="text-center">
      Following are the sub-set of clients that I have worked for directly or
      indirectly on several small (100's of hours) to large (1000's of hours)
      sized projects. Ask for more details about individual client project.
    </mat-card-subtitle>
    <hr class="light" />
    <mat-card-content>
      <div class="portfolio flex-container">
        <div class="flex-content" *ngFor="let client of clients; index as i">
          <a href="{{ client.clientURL }}" [routerLink]="['/client/', i]">
             <img class="lazy"
                src="//preact.patelrikin.com/assets/img/portfolio/{{ client.image }}"
                alt="{{ client.name }}"
              />
            <div class="client-name">{{ client.name }}</div>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
