<mat-card *ngIf="client" class="client">
  <div class="client-header">
    <a href="{{ client.clientURL }}" class="client-image">
      <mat-card-title>{{ client.name }}</mat-card-title>
      <img src="//preact.patelrikin.com/assets/img/portfolio/{{ client.image }}" alt="{{ client.name }}" />
    </a>
  </div>
  <div class="client-content">
    <p>{{ client.description }}</p>
  </div>
  <div class="client-footer text-center">
    <a mat-button [routerLink]="['/portfolio']">Back</a>
  </div>
</mat-card>
