<div class="sidebar">
  <header class="header" role="banner">
    <h1>Rikin Patel</h1>
    <hr />
    <ul class="list-inline li-nav">
      <li>UI Lead</li>
      <li>Front-End Developer</li>
      <li>Frontend Solutions</li>
      <li>Resource Manager</li>
    </ul>
    <hr />
    <ul class="list-inline li-nav">
      <li>Philadelphia, PA</li>
    </ul>
  </header>
  <nav>
    <ul class="list-inline li-nav">
      <li><a routerLink="/profile" class="">Profile</a></li>
      <li><a routerLink="/techskills" class="">Tech Skills</a></li>
      <li><a routerLink="/workexp" class="">Work Experience</a></li>
      <li><a routerLink="/portfolio" class="">Portfolio</a></li>
      <li><a routerLink="/contact" class="">Contact Me</a></li>
    </ul>
  </nav>
</div>
