<div class="sidebar">
  <div class="bg-primary wip">
    <h2>Work in progress!</h2>
    <p>Source code available here: <a href="https://github.com/patelrikin/ng-portfolio" target="_blank">https://github.com/patelrikin/ng-portfolio</a></p>
    <span>Lighthouse Report available here: <a href="https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://ng-app.patelrikin.com/" target="_blank">Lighthouse Report</a></span>
  </div>
  <header class="header" role="banner">
    <h1 class="text-center">Rikin Patel</h1>
    <hr />
    <ul class="list-inline li-nav">
      <li>UI Lead</li>
      <li>Front-End Developer</li>
      <li>Frontend Solutions</li>
      <li>Resource Manager</li>
    </ul>
    <hr />
    <ul class="list-inline li-nav">
      <li>Philadelphia, PA</li>
    </ul>
  </header>
  <nav>
    <ul class="list-inline li-nav">
      <li><a routerLinkActive="active" routerLink="/profile" class="">Profile</a></li>
      <li><a routerLinkActive="active" routerLink="/techskills" class="">Tech Skills</a></li>
      <li><a routerLinkActive="active" routerLink="/workexp" class="">Work Experience</a></li>
      <li><a routerLinkActive="active" routerLink="/portfolio" class="">Portfolio</a></li>
      <li><a routerLinkActive="active" routerLink="/contact" class="">Contact Me</a></li>
    </ul>
  </nav>
</div>
